.board {
    background-color: #bbada0;
    border-radius: 5px;
    display: table;
    border-spacing: 5px;
}

.row {
    display: table-row;
}

.cell {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: rgba(238, 228, 218, 0.35);
    border-radius: 3px;
    display: table-cell;
}

.tile {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.game {
    margin: auto;
    width: 290px;
}

.tile-2 {
    background-color: #eee4da;
}

.tile-4 {
    background-color: #eee1c9;
}

.tile-8 {
    background-color: #f3b27a;
    color: white;
}

.tile-16 {
    background-color: #f69664;
    color: white;
}

.tile-32 {
    background-color: #f77c5f;
    color: white;
}

.tile-64 {
    background-color: #f75f3b;
    color: white;
}

.tile-128 {
    background-color: #edd073;
    color: white;
    font-size: 30px;
}

.tile-256 {
    background-color: #edcc62;
    color: white;
    font-size: 30px;
}

.tile-512 {
    background-color: #edc950;
    color: white;
    font-size: 30px;
}

.tile-1024 {
    background-color: #edc53f;
    color: white;
    font-size: 25px;
}

.tile-2048, .tile-4096, .tile-8192, .tile-16384, .tile-32768, .tile-65536 {
    background-color: #edc22e;
    color: white;
    font-size: 25px;
}
