.game {
  margin: auto;
  width: 360px; }

.board {
  background-color: #bbada0;
  border-radius: 8px;
  padding: 4px;
  font-size: 0;
  position: absolute; }

.cell {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: rgba(238, 228, 218, 0.35);
  margin: 4px;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  border-radius: 3px; }

.tile {
  display: inline-block;
  width: 80px;
  height: 80px;
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  border-radius: 3px; }

.tile.merge-helper {
  z-index: 0; }

.tile.row-0-column-0 {
  left: 8px;
  top: 8px; }

.tile.row-0-column-1 {
  left: 96px;
  top: 8px; }

.from-column-0-to-1 {
  animation-name: from-column-0-to-1;
  animation-fill-mode: forwards;
  animation-duration: 0.2s; }

.from-row-0-to-1 {
  animation-name: from-row-0-to-1;
  animation-fill-mode: forwards;
  animation-duration: 0.2s; }

@keyframes from-column-0-to-1 {
  from {
    left: 8px; }
  to {
    left: 96px; } }
@keyframes from-row-0-to-1 {
  from {
    top: 8px; }
  to {
    top: 96px; } }
.tile.row-0-column-2 {
  left: 184px;
  top: 8px; }

.from-column-0-to-2 {
  animation-name: from-column-0-to-2;
  animation-fill-mode: forwards;
  animation-duration: 0.2s; }

.from-row-0-to-2 {
  animation-name: from-row-0-to-2;
  animation-fill-mode: forwards;
  animation-duration: 0.2s; }

@keyframes from-column-0-to-2 {
  from {
    left: 8px; }
  to {
    left: 184px; } }
@keyframes from-row-0-to-2 {
  from {
    top: 8px; }
  to {
    top: 184px; } }
.tile.row-0-column-3 {
  left: 272px;
  top: 8px; }

.from-column-0-to-3 {
  animation-name: from-column-0-to-3;
  animation-fill-mode: forwards;
  animation-duration: 0.2s; }

.from-row-0-to-3 {
  animation-name: from-row-0-to-3;
  animation-fill-mode: forwards;
  animation-duration: 0.2s; }

@keyframes from-column-0-to-3 {
  from {
    left: 8px; }
  to {
    left: 272px; } }
@keyframes from-row-0-to-3 {
  from {
    top: 8px; }
  to {
    top: 272px; } }
.tile.row-1-column-0 {
  left: 8px;
  top: 96px; }

.from-column-1-to-0 {
  animation-name: from-column-1-to-0;
  animation-fill-mode: forwards;
  animation-duration: 0.2s; }

.from-row-1-to-0 {
  animation-name: from-row-1-to-0;
  animation-fill-mode: forwards;
  animation-duration: 0.2s; }

@keyframes from-column-1-to-0 {
  from {
    left: 96px; }
  to {
    left: 8px; } }
@keyframes from-row-1-to-0 {
  from {
    top: 96px; }
  to {
    top: 8px; } }
.tile.row-1-column-1 {
  left: 96px;
  top: 96px; }

.tile.row-1-column-2 {
  left: 184px;
  top: 96px; }

.from-column-1-to-2 {
  animation-name: from-column-1-to-2;
  animation-fill-mode: forwards;
  animation-duration: 0.2s; }

.from-row-1-to-2 {
  animation-name: from-row-1-to-2;
  animation-fill-mode: forwards;
  animation-duration: 0.2s; }

@keyframes from-column-1-to-2 {
  from {
    left: 96px; }
  to {
    left: 184px; } }
@keyframes from-row-1-to-2 {
  from {
    top: 96px; }
  to {
    top: 184px; } }
.tile.row-1-column-3 {
  left: 272px;
  top: 96px; }

.from-column-1-to-3 {
  animation-name: from-column-1-to-3;
  animation-fill-mode: forwards;
  animation-duration: 0.2s; }

.from-row-1-to-3 {
  animation-name: from-row-1-to-3;
  animation-fill-mode: forwards;
  animation-duration: 0.2s; }

@keyframes from-column-1-to-3 {
  from {
    left: 96px; }
  to {
    left: 272px; } }
@keyframes from-row-1-to-3 {
  from {
    top: 96px; }
  to {
    top: 272px; } }
.tile.row-2-column-0 {
  left: 8px;
  top: 184px; }

.from-column-2-to-0 {
  animation-name: from-column-2-to-0;
  animation-fill-mode: forwards;
  animation-duration: 0.2s; }

.from-row-2-to-0 {
  animation-name: from-row-2-to-0;
  animation-fill-mode: forwards;
  animation-duration: 0.2s; }

@keyframes from-column-2-to-0 {
  from {
    left: 184px; }
  to {
    left: 8px; } }
@keyframes from-row-2-to-0 {
  from {
    top: 184px; }
  to {
    top: 8px; } }
.tile.row-2-column-1 {
  left: 96px;
  top: 184px; }

.from-column-2-to-1 {
  animation-name: from-column-2-to-1;
  animation-fill-mode: forwards;
  animation-duration: 0.2s; }

.from-row-2-to-1 {
  animation-name: from-row-2-to-1;
  animation-fill-mode: forwards;
  animation-duration: 0.2s; }

@keyframes from-column-2-to-1 {
  from {
    left: 184px; }
  to {
    left: 96px; } }
@keyframes from-row-2-to-1 {
  from {
    top: 184px; }
  to {
    top: 96px; } }
.tile.row-2-column-2 {
  left: 184px;
  top: 184px; }

.tile.row-2-column-3 {
  left: 272px;
  top: 184px; }

.from-column-2-to-3 {
  animation-name: from-column-2-to-3;
  animation-fill-mode: forwards;
  animation-duration: 0.2s; }

.from-row-2-to-3 {
  animation-name: from-row-2-to-3;
  animation-fill-mode: forwards;
  animation-duration: 0.2s; }

@keyframes from-column-2-to-3 {
  from {
    left: 184px; }
  to {
    left: 272px; } }
@keyframes from-row-2-to-3 {
  from {
    top: 184px; }
  to {
    top: 272px; } }
.tile.row-3-column-0 {
  left: 8px;
  top: 272px; }

.from-column-3-to-0 {
  animation-name: from-column-3-to-0;
  animation-fill-mode: forwards;
  animation-duration: 0.2s; }

.from-row-3-to-0 {
  animation-name: from-row-3-to-0;
  animation-fill-mode: forwards;
  animation-duration: 0.2s; }

@keyframes from-column-3-to-0 {
  from {
    left: 272px; }
  to {
    left: 8px; } }
@keyframes from-row-3-to-0 {
  from {
    top: 272px; }
  to {
    top: 8px; } }
.tile.row-3-column-1 {
  left: 96px;
  top: 272px; }

.from-column-3-to-1 {
  animation-name: from-column-3-to-1;
  animation-fill-mode: forwards;
  animation-duration: 0.2s; }

.from-row-3-to-1 {
  animation-name: from-row-3-to-1;
  animation-fill-mode: forwards;
  animation-duration: 0.2s; }

@keyframes from-column-3-to-1 {
  from {
    left: 272px; }
  to {
    left: 96px; } }
@keyframes from-row-3-to-1 {
  from {
    top: 272px; }
  to {
    top: 96px; } }
.tile.row-3-column-2 {
  left: 184px;
  top: 272px; }

.from-column-3-to-2 {
  animation-name: from-column-3-to-2;
  animation-fill-mode: forwards;
  animation-duration: 0.2s; }

.from-row-3-to-2 {
  animation-name: from-row-3-to-2;
  animation-fill-mode: forwards;
  animation-duration: 0.2s; }

@keyframes from-column-3-to-2 {
  from {
    left: 272px; }
  to {
    left: 184px; } }
@keyframes from-row-3-to-2 {
  from {
    top: 272px; }
  to {
    top: 184px; } }
.tile.row-3-column-3 {
  left: 272px;
  top: 272px; }

@keyframes new {
  from {
    transform: scale(0.1); }
  to {
    transform: scale(1); } }
.new {
  animation-name: new;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; }

.merged {
  animation-name: new;
  animation-duration: 0.2s;
  animation-fill-mode: forwards; }

.tile-2 {
  background-color: #eee4da; }

.tile-4 {
  background-color: #eee1c9; }

.tile-8 {
  background-color: #f3b27a;
  color: white; }

.tile-16 {
  background-color: #f69664;
  color: white; }

.tile-32 {
  background-color: #f77c5f;
  color: white; }

.tile-64 {
  background-color: #f75f3b;
  color: white; }

.tile-128 {
  background-color: #edd073;
  color: white;
  font-size: 30px; }

.tile-256 {
  background-color: #edcc62;
  color: white;
  font-size: 30px; }

.tile-512 {
  background-color: #edc950;
  color: white;
  font-size: 30px; }

.tile-1024 {
  background-color: #edc53f;
  color: white;
  font-size: 25px; }

.tile-2048, .tile-4096, .tile-8192, .tile-16384, .tile-32768, .tile-65536 {
  background-color: #edc22e;
  color: white;
  font-size: 25px; }

/*# sourceMappingURL=style.css.map */
