$board-color: saddlebrown;
$cell-width: 80px;
$cell-margin: 4px;
$board-width: 4 * $cell-width + 10 * $cell-margin;

.game {
  margin: auto;
  width: $board-width;
}

.board {
  background-color: #bbada0;
  border-radius: 8px;
  padding: $cell-margin;
  font-size: 0; // to remove the stupid space between elements with display: inline block
  position: absolute;
}

.cell {
  display: inline-block;
  width: $cell-width;
  height: $cell-width;
  background-color: rgba(238, 228, 218, 0.35);
  margin: $cell-margin;
  text-align: center;
  vertical-align: middle;
  line-height: $cell-width;
  border-radius: 3px;
}

.tile {
  display: inline-block;
  width: $cell-width;
  height: $cell-width;
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  border-radius: 3px;
}

.tile.merge-helper {
  z-index: 0;
}

@for $i from 0 through 3 {
  @for $j from 0 through 3 {
    // position for each tile on board
    .tile.row-#{$i}-column-#{$j} {
      left: 2 * ($cell-margin) + $j * ($cell-width + 2 * $cell-margin);
      top: 2 * ($cell-margin) + $i * ($cell-width + 2 * $cell-margin);
    }

    $row-animation: from-row-#{$i}-to-#{$j};
    $column-animation: from-column-#{$i}-to-#{$j};

    @if $i != $j {
      // horizontal animation
      .#{$column-animation} {
        animation-name: #{$column-animation};
        animation-fill-mode: forwards;
        animation-duration: 0.2s;
      }

      // vertical animation
      .#{$row-animation} {
        animation-name: #{$row-animation};
        animation-fill-mode: forwards;
        animation-duration: 0.2s;
      }

      // horizontal animation
      @keyframes #{$column-animation} {
        from {
          left: 2 * ($cell-margin) + $i * ($cell-width + 2 * $cell-margin);
        }
        to {
          left: 2 * ($cell-margin) + $j * ($cell-width + 2 * $cell-margin);
        }
      }

      // vertical animation
      @keyframes #{$row-animation} {
        from {
          top: 2 * ($cell-margin) + $i * ($cell-width + 2 * $cell-margin);
        }
        to {
          top: 2 * ($cell-margin) + $j * ($cell-width + 2 * $cell-margin);
        }
      }
    }

  }
}


@keyframes new {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

.new {
  animation-name: new;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.merged { // keep this class in case we want to change its animation
  animation-name: new;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.tile-2 {
  background-color: #eee4da;
}

.tile-4 {
  background-color: #eee1c9;
}

.tile-8 {
  background-color: #f3b27a;
  color: white;
}

.tile-16 {
  background-color: #f69664;
  color: white;
}

.tile-32 {
  background-color: #f77c5f;
  color: white;
}

.tile-64 {
  background-color: #f75f3b;
  color: white;
}

.tile-128 {
  background-color: #edd073;
  color: white;
  font-size: 30px;
}

.tile-256 {
  background-color: #edcc62;
  color: white;
  font-size: 30px;
}

.tile-512 {
  background-color: #edc950;
  color: white;
  font-size: 30px;
}

.tile-1024 {
  background-color: #edc53f;
  color: white;
  font-size: 25px;
}

.tile-2048, .tile-4096, .tile-8192, .tile-16384, .tile-32768, .tile-65536 {
  background-color: #edc22e;
  color: white;
  font-size: 25px;
}